<%- partial('_partial/head') %>
<body ontouchstart>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <div class="outer">
        <%- body %>
        <span id="toTopBtn" class="icon icon-angle-up"></span>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
  </div>
  <%- partial('_partial/after-footer') %>
</body>
</html>